<div>
  <div id="logout">
    <form method="POST" action="/logout">
      <button type="submit">logout</a>
    </form>
  </div>
  <a href="/" id="link-top">top</a>
  <%- include('./search-bar.ejs') %>
</div>
