<div>
  <a href="./" id="link-top">top</a>
  <a href="./tags" id="link-tags">tags</a>
  <a href="./series" id="link-series">series</a>
  <a href="./artists" id="link-artists">artists</a>
  <a href="./characters" id="link-characters">characters</a>
</div>
