<!DOCTYPE html>
<html>
  <head>
    <title>一覧</title>
  </head>
  <body>
    <div id="header">
      <%- include('../partials/header.ejs') %>
    </div>
    <div id="switch"></div>
    <div id="items">
      <%- include('../partials/items.ejs', { items }) %>
    </div>
    <div id="pagination">
      <%- include('../partials/pagination.ejs', { ...pagination, search }) %>
    </div>
  </body>
</html>